* {
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19vh;
}

#logo {
    height: 15vh;
    margin-left: 5vw;
}

#hamburgerBody {
    display: none;
}

#hamburger {
    font-size: 50px;
    border: none;
}

#mobilePopup {
    display: none;
}

#navList {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 5vw;
    justify-content: space-evenly;
    list-style: none;
    display: flex;
    width: 60vw;
}

.navItem {
    cursor: pointer;
}

#orderNow {
    background-color: black;
    color: white;
    padding-block: 10px;
    padding-inline: 5px;
    border-radius: 20px;
}

#navBottom {
    margin-top: 2.5vh;
    height: 2px;
    background-color: black;
    width: 100%;
}

main {
    margin-top: 21vh;
}


#mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headingImage {
    margin-top: 2.5vh;
    height: 100vh;
}

#cta {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

#ctaText {
    font-size: 45px;
    color: white;
}

#ctaBody {
    flex-direction: column;
    background-color: brown;
    height: 17.5vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#special {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#menuBody {
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90vw;
    height: auto;
    margin-left: 5vw;
}

.menuBodyItem {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuImage {
    height: 20vw;
    width: 30vw;
}

#contactBody {
    margin-top: 10vh;
    padding-block: 5vh;
    width: auto;
    height: auto;
    background-color: gray;
    margin-inline: 20vw;
    margin-bottom: 12.5vh;
}

#emailSignUp {
    color: black;
    background-color: white;
    margin-left: 23vw;
    margin-right: 23vw;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    font-size: 23px;
}

#mobilePopup {
    display: hidden;
}

#contactHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10vh;
    width: 100%;
    background-color: navy;
}

@media (min-width:1440px) {
    #orderNow {
        padding-block: 2.5px;
        padding-inline: 15px;
        border-radius: 30px;
    }
}

@media (max-width:600px) {

    header {
        height: 140px;
        position: fixed;
    }

    #logo {
        height: 140px;
        position: absolute;
    }

    #navList {
        display: none;
    }

    #orderNow {
        display: none;
    }

    #hamburgerBody {
        margin-left: 75vw;
        display: inline;
    }

    #hamburger {
        height: 30px;
        display: inline;
    }

    #mobilePopup {
        z-index: 99;
        background-color: white;
        display: hidden;
        height: 100vh;
        width: 100vw;
        position: absolute;
    }

    #mobilePopupHeader {
        margin-top: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mobilePopupHeaderText {
        font-size: 40px;
        position: absolute;
    }

    #mobilePopupClose {
        margin-left: 80vw;
        font-size: 3rem;
    }

    main {
        margin-top: 21vh;
    }

    #headerText {
        font-size: 20px;
    }


    #headingImage {
        height: 200px;
        width: 500px;
        max-width: 80vw;
    }

    #menuBody {
        display: flex;
        flex-direction: column;
    }

    #cta {
        margin-top: 2vh;
    }

    #ctaBody {
        height: auto;
    }

    .menuImage {
        height: 250px;
        width: 300px;
    }

    #ctaText {
        font-size: 20px;
    }

    #flex, #navBottom {
        display: none;
        margin-bottom: 0;
    }

    #contactMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #contactHeader {
        font-size: 17.5px;
    }

    #contactSubHeader {
        font-size: 15px;
    }

    #emailSignUp {
        margin-top: 2vh;
    }
    
    #contactBody {
        margin-left: 0;
        margin-right: 0;
        width: 350px;
        margin-bottom: 2.5vh;
    }

    footer {
        display: none;
    }
}